<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Curso vue 4</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="../../applications/notemaster/css/vue.css">

</head>

<body>
<div id="app">



    <counter v-bind:add-numb="6"></counter>

</div>

<script>

    var counter = Vue.component('counter',{
        template: `
        <div>
        <input type="number" v-model="numero" />
        <div>Contador: {{this.count}} </div>
        <button class="vue-btn" @click="increment">incrementar por {{addNumb}}</button>
        </div>
        `,
        props:{
            addNumb:{
                type: Number,
                default: 1

            }
        } ,
        data(){
            return {
                count: 0
            }
        },
        methods: {
            increment(){
                this.count += this.addNumb
            }
        }
    })

    var app = new Vue({
        el: '#app',
        components:{
            counter
        },
        data: {
            numero: 5




        }


    })

</script>

</body>

</html>